<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2020  Gaurav Ujjwal.
  ~
  ~ SPDX-License-Identifier:  GPL-3.0-or-later
  ~
  ~ See COPYING.txt for more details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaurav.avnc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity-alias
            android:name=".HomeActivity"
            android:targetActivity=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".UriReceiverActivity"
            android:targetActivity=".ui.vnc.UriReceiverActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="vnc" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".ui.home.HomeActivity" />

        <activity
            android:name=".ui.home.UrlBarActivity"
            android:parentActivityName=".ui.home.HomeActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".ui.vnc.VncActivity" />

        <activity android:name=".ui.vnc.UriReceiverActivity" />

        <activity android:name=".ui.prefs.PrefsActivity" />
    </application>

</manifest>